 
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Source Code Pro", monospace;
 font-optical-sizing: auto;
 font-weight: 100;
}

html {
  background: linear-gradient(to right, #061161, #780206); 
}
body {  
  background-size: cover;
  max-height: 100%;
  text-rendering: optimizeLegibility;
}

.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 1.3rem 10%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.header::before {
 content:'';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, .1);
 backdrop-filter: blur(2.1px);
 z-index: -1;
}

.header::after {
 content:'';
 position: absolute;
 top: 0;
 left: -100%;
 width: 100%;
 height: 100%;
 background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .1), transparent);
 transition: .5s;
}

.header:hover::after {
 left: 100%;
}

.logo {
 font-size: 2rem;
 color: #fff;
 text-decoration: none;
 font-weight: 700;
}

a {
 color: black;
 text-decoration: none;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar a {
 font-size: 1.15rem;
 margin: 5px;
 color: #fff;
 text-decoration: none;
 font-weight: 500;
}

#check {
 display: none;
 outline: none;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icons {
 position: absolute;
 right: 5%;
 font-size: 2.8rem;
 color: #fff;
 cursor: pointer;
 display: none;
}

h1 {
 font-family:  "Source Code Pro", monospace;;
 text-align: center;
 margin: 5px;
 color: #fff;
 font-size: 30px;
}

/*Efeito vidro*/

.container-glass {
 display: inline-block;
 
}
.container-glass,
.container-glass::before,
.container-glass::after {
 display: inline-block;
 border-radius: 10px;
 background-color: rgba(255, 255, 255, .2);
 backdrop-filter: blur(15px);
 box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.08);
}

.container-glass {
 display: inline-block;
 margin: 5px;
 margin-top: 20px;
 margin-left: 150px;
 height: 13%;
 width: 35%;
 padding: 1.5rem 1.5rem;
 }
 
.container-glass::before,
.container-glass::after {
 border-radius: 15px;
 content: '';
 position: absolute;
 display: inline-block;
 }
 
.container-glass::before {
 height: 40px;
 width: 40px;
 top: -10px;
 left: -15px;
 z-index: -1;
 }
 
.container-glass::after {
 height: 40px;
 width: 40px;
 bottom: 20px;
 right: -10px;
 z-index: 2;
 }
 
.container-glass .img {
  width: 100%;
  border-radius: 7px;
 }

 .container-glass .img1 {
  width: 90%;
  margin: 25px;
  border-radius: 0px 50px 0px 50px;
  }

 .container-glass .text {
 letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  margin: 1px;
  text-align: center;
 }

 .container-glass .btn {
  align-items: center;
  text-align: center;
  display: inline;
  margin: 15px;
  margin-left: 25%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.02rem;
  width: 260px;
  max-width: 200px;
  padding: .6rem 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all .2s linear;
 }
 
 .container-glass .btn:hover {        
  color: #fff;
  border: none;
 }
 
 mark {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.08);
  color: #fff;

 }
 

 /*estilo dos cards*/
 .card-wrap{
     display: inline-block;
     margin: 5px;
     margin-left: 25px;
     width: 100px;
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(5px);
     border-radius: 20px;
     border: none;
     overflow: hidden;
     color: var(--color-text);
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                 rgba(0, 0, 0, 0.23) 0px 6px 6px;
     cursor: pointer;
     transition: all .2s ease-in-out;
   }
   .card-wrap:hover{
     transform: scale(1.1);
   }
   .card-header{
     height: 100px;
     width: 100%;
     background: none;
     border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
     display: grid;
     place-items: center;
   
   }
   
   .card-header i{
     color: #fff;
     font-size: 72px;
   }
   .card-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 60%;
     margin: 0 auto;
   }
   .card-title{
     text-align: center;
     text-transform: uppercase;
     font-size: 16px;
     margin-top: 10px;
     margin-bottom: 20px;
     
   }
   .card-text{
     text-align: center;
     font-size: 12px;
     margin-bottom: 20px;
   }
   .card-btn{
     border: none;
     border-radius: 100px;
     padding: 3px 10px;
     color: none;
     margin-bottom: 15px;
     text-transform: uppercase;
   }

 .rodape  { 
     text-decoration: none; 
     color: white; 
     font-size: 18px; 
     cursor: pointer; 
     padding: 15px 10px; 
     text-align: center; 
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(1px);
     font: 'Poppins', serif;
     display: block;
   }

@media (max-width: 992px) {
 .header {
     padding: 1.3rem 5%;
 }
}

/*versão mobile*/
@media (max-width: 768px) {


  
 .icons {
     display: inline-flex;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 #check:checked~.icons #menu-icon {
     display: none;
 }

 .icons #close-icon {
     display: none;
 }

 #check:checked~.icons #close-icon {
     display: block;
 }

 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2.2px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .7s ease;
 }

 #check:checked~.navbar {
     height: 50.0rem;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 .navbar a {
     display: block;
     font-size: 1.1rem;
     margin: 1.98rem 0;
     text-align: center;
     transform: translateY(-50px);
     opacity: o;
     transition: .4s ease;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 #check:checked~.navbar a {
     transform: translateY(0);
     opacity: 1;
     transition-delay: calc(.15s * var(--i));
 }
 
 .container-glass .img1 {
     width: 70%;
     margin-left: 45px;
     border-radius: 0px 50px 0px 50px;
     }

 .container-glass {
   margin-top: 20px;
   margin-left: 35px;
   height: 80%;
   position: relative;
   padding: 2rem 1.5rem;
   width: 85%;
   max-width: 100%;
 }
 
 .text1 {
  word-spacing: 1px;
  font-size: 18px;
  color: #fff;
  text-align: center;
 }

 .container-glass .text {
  word-spacing: 0px;
  font-size: 17px;
  color: #fff;
  text-align: justify;
  
 }
 
 .container-glass .btn {
     align-items: center;
     text-align: center;
     display: inline;
     margin: 1px;
     margin-left: 35px;
     font-family: 'Poppins', sans-serif;
     font-size: 1.02rem;
     width: 30%;
     padding: 10px;
     background-color: transparent;
     border: none;
     color: #fff;
     cursor: pointer;
     transition: all .2s linear;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .rodape  { 
     font-size: 7px;
     text-decoration: none; 
     color: white; 
     font-size: 18px; 
     padding: 15px 10px; 
     text-align: center; 
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(5px);
     font: 'Poppins', serif;
     display: block;
   }
}
